.carrito__titulo{
    display: flex;
   justify-content: center;
}


.img__carrito{
    width: 10em;
    height: 10em;
}

.contenedor__datos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.contenedor__vaciar{
    display: flex;
    justify-content: end;
}

.boton__estilo{
    color: aliceblue;
    background-color: red;
    
}
.icono__carrito{
    font-size: 1.7em;
}