
.contenedor__icono{
    position: absolute;
    right: 1em;
    top: 1.778em;
    
}
.icono{
    position: relative;
    top:-.7em;

}
.icono__dibujo{
    font-size: 3.1em;
}

.icono__burbuja{
    position: absolute;
    width: 2em;
    height: 2em;
    background-color: #b61818;
    color: aliceblue;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top:.59em;
    right: -1em;
}