.subtitulo__datos{
    color:#b42323;
    font-size: 1.3em;
    font-weight: bold;
    margin:  .25em 0;
    display: flex;
}
.contenedor__input{
    display: flex;
    width: 25em;
}

.compra__finalizada{
    display: flex;
    align-items: center;
    font-size: 2em;
    justify-content: center;
}