*{
  margin: 0px;
  box-sizing: border-box;
  list-style: none;

}

.boton__p{
  display: flex;
  justify-content: center;
  color:aliceblue;
}

.datos__producto{
  font-weight: bold;
  font-size: 1.2em;
}
.boton__general{
  margin-top: 1em;
  background-color : #b42323;
  width: 7em;
  border-radius: .5em;
  border-color: black solid;
  border-style: solid;
  font-size: -.9em;
}
.titulo{
  display: flex;
  justify-content: center;
  font-size: 3em;
  font-weight: bold;
  color: black;
}